{% extends 'Eshop/base.html' %}

{%block title%} Car page {%endblock%}

{%block content%}
    <section class="car">
            <div class="conatiner">
            <ul class="car__box d-flex justify-content-between flex-wrap felx-row">
                {% for el in val %}
                    <li>
                        <br><img src="{{ el.image.url}}" alt="Car" width="300" height="300">
                        <div>
                            <span class=" d-flex flex-row"><a class=" text-primary fs-1 text fw-bold" href="{% url 'detail' el.pk %}">Name: {{el.name}}</a><p class=" text-danger-emphasis fs-2 text fw-bold"></p></span>
                            <h1>Color: {{el.color}} Date: ({{el.date}})</h1>
                            <form action="{% url 'add_card' category el.pk %}" method="POST">
                                {% csrf_token%}
                                <label for="imputname">Son kiriting</label>
                                <input type="number" value="1" name="inputname" />
                                <input type="submit" value="savatga qo'shish"  />
                            </form>
                        </div>
                    </li>
                {%endfor%}
            </ul>
        </div>
        </section>
{%endblock%}



